
@import em-grid

#em-grid
  opacity(1.0)
  z-index -1

.container
  width 100%
  text-align center

#readme
  display inline-block
  text-align left
  font-family  Tahoma, Helvetica, sans-serif
  font-size 2em
  color black
  max-width 30em
  background rgba(255,255,255,1)
  border-radius 1em
  padding .5em 1.5em 1em 1.5em
  margin 3%
  h1
    text-transform uppercase
    font-weight bold
    padding-top .2em
  p
    padding .2em 0 1em 1em
