opacity(n)
  zoom 1
  opacity n
  filter unquote('alpha(opacity=' + round(n * 100) + ')')

font-smoothing()
  font-smoothing antialiased !important
  -webkit-font-smoothing: antialiased !important
  -moz-osx-font-smoothing: grayscale !important

*, *:after, *:before
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  margin-before 0
  -webkit-margin-before 0
  -moz-margin-before 0
  margin-after 0
  -webkit-margin-after 0
  -moz-margin-after 0
  margin 0
  -webkit-margin 0
  -moz-margin 0

h1, h2, h3, h4, h5
  margin 0
  -webkit-margin 0
  -moz-margin 0

ul
  list-style none
  padding-left 0

.off
  display none

.fleft
  float left

.fright
  float right

.clear
  clear both
  height 0
  font-size 0

a
  padding-bottom 0.0625em
  border-bottom 0.0625em dotted
  text-decoration none
