#em-grid.oversized
  -for (var i=130; i<=500; i+=10) {
    .col
      strong= i
      br
      .px= i * 16
      .bar
  -}

#em-grid.huge
  -for (var i=85; i<=120; i+=5) {
    .col
      strong= i
      br
      .px= i * 16
      .bar
  -}

#em-grid.em80
  .col
    strong 80
    br
    .px= 80 * 16
    .bar

#em-grid.large
  -for (var i=49; i<=80; i+=4) {
    .col
      strong= i
      br
      .px= i * 16
      .bar
  -}

#em-grid.medium
  -for (var i=33; i<=45; i+=3) {
    .col
      strong= i
      br
      .px= i * 16
      .bar
  -}

#em-grid.small
  -for (var i=22; i<=30; i+=2) {
    .col
      strong= i
      br
      .px= i * 16
      .bar
  -}

#em-grid.tiny
  -for (var i=1; i<=20; i++) {
    .col
      strong= i
      br
      .px= i * 16
      .bar
  -}
