doctype html
html
  head
    link(href='styles/main.min.css', rel='stylesheet', type='text/css')

  body
    include em-grid

    .container
      #readme
        include:markdown ../../../README.md

