/* normalize.css v2.1.2 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
/* 1 */
  -ms-text-size-adjust: 100%;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
* 1 */,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -webkit-box-sizing: content-box;
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-before: 0;
  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  margin-after: 0;
  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  margin: 0;
  -webkit-margin: 0;
  -moz-margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  -webkit-margin: 0;
  -moz-margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
.off {
  display: none;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
  height: 0;
  font-size: 0;
}
a {
  padding-bottom: 0.0625em;
  border-bottom: 0.0625em dotted;
  text-decoration: none;
}
#em-grid {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 120em;
  background: #0ff;
  overflow: hidden;
  z-index: 999;
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
#em-grid .px,
#em-grid .col strong {
  font-size: 0.7em;
  font-weight: bold;
  color: #fff;
}
#em-grid .px {
  color: #d3d3d3;
}
#em-grid .col {
  display: inline-block;
  width: 1em;
  height: 100%;
  overflow: hidden;
  white-space: wrap;
  text-align: center;
}
#em-grid .bar {
  height: 200%;
  width: 100%;
  position: relative;
  top: -4em;
  left: 0;
}
#em-grid .col:nth-child(even) .bar {
  background: #000;
  zoom: 1;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
#em-grid.tiny {
  width: 20em;
  background: #008000;
  z-index: 999 -1;
}
#em-grid.tiny .col {
  width: 1em;
}
#em-grid.tiny .px {
  font-size: 0.5em;
}
#em-grid.small {
  left: 20em;
  width: 10em;
  background: #008000;
  z-index: 999 -2;
}
#em-grid.small .col {
  width: 2em;
}
#em-grid.medium {
  left: 30em;
  width: 15em;
  background: #ffa500;
  z-index: 999 -3;
}
#em-grid.medium .col {
  width: 3em;
}
#em-grid.large {
  left: 45em;
  width: 32em;
  background: #800080;
  z-index: 999 -4;
}
#em-grid.large .col {
  width: 4em;
}
#em-grid.em80 {
  left: 77em;
  width: 3em;
  background: #fa8072;
  z-index: 999 -5;
}
#em-grid.em80 .col {
  width: 3em;
}
#em-grid.huge {
  left: 80em;
  width: 40em;
  background: #f00;
  z-index: 999 -6;
}
#em-grid.huge .col {
  width: 5em;
}
#em-grid.oversized {
  left: 120em;
  width: 100%;
  background: #808080;
  z-index: 999 -7;
}
#em-grid.oversized .col {
  width: 10em;
}
#em-grid {
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: -1;
}
.container {
  width: 100%;
  text-align: center;
}
#readme {
  display: inline-block;
  text-align: left;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 2em;
  color: #000;
  max-width: 30em;
  background: #fff;
  border-radius: 1em;
  padding: 0.5em 1.5em 1em 1.5em;
  margin: 3%;
}
#readme h1 {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.2em;
}
#readme p {
  padding: 0.2em 0 1em 1em;
}
